In [20]:
import pandas as pd
import numpy as np
import matplotlib as plt
import sklearn

<h1 style="color:white;background-color:black;text-align:center;border-radius:5px;padding:20px 0;opacity:0.7;letter-spacing:4px;">
    Header For Some Code
</h1>

<hr/>

In [21]:
list_of_nums = [23, 62, 24, 8, 1, 893]
print("list of nums: {}".format(list_of_nums[0:len(list_of_nums):2]))

list of nums: [23, 24, 1]

In [22]:
evens = [num for num in list_of_nums if num % 2 == 0]
print(evens)

[62, 24, 8]

# Header 1

## Header 2

### Header 3

#### Header 4

In [23]:
import pandas as pd

In [24]:
heart_disease_data = pd.read_csv("./data/heart-disease.csv")

<h1 style="color:white;background-color:black;text-align:center;border-radius:5px;padding:20px 0;opacity:0.7;letter-spacing:4px;">
    Visualizing Our Data In A Table
</h1>

---

In [25]:
heart_disease_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

---

![6-step-ml-framework.png](./assets/6-step-ml-framework.png)

## 1. Predict Heart Disease

<hr>

<hr>

## 2. Import Patient Data

<hr>

In [26]:
heart_disease_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [27]:
make = pd.Series(["Toyota", "Subaru", "Volks Wagen", "Honda", "Hyundai", "Mazda", "Mercedes", "BMW"])

In [28]:
color = pd.Series(["Red", "Orange", "Turquoise", "Teal", "Space Grey", "White", "Brown", "Magenta"])

In [31]:
cars = pd.DataFrame({"Make": make, "Color": color})

In [32]:
cars

          Make       Color
0       Toyota         Red
1       Subaru      Orange
2  Volks Wagen   Turquoise
3        Honda        Teal
4      Hyundai  Space Grey
5        Mazda       White
6     Mercedes       Brown
7          BMW     Magenta